.form-container{
    margin: 6rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background: inherit;
}

.fa.fa-book-open{
    opacity: 0.9;
}

.vr{
    border: 1.5px solid black;
    position: absolute;
    top: 0;
    height: 94%;
}

.vr-login{
    left: 10px;
}

.vr-register{
    right: 10px;
}

.text-intro{
    text-indent: 50px;
}


img#bg-img {
    background-attachment: fixed;
    background-size: contain;
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    filter: blur(5px); 
}   

.blur-container{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(4, 2, 12, 0.7);
    width: 100%;
    height: 100%;
}

.section {
    position: relative;
    width: 33%;
    height: auto;
}

input[type = 'text'], input[type = 'email'], input[type = 'password']{
    border: none;
    border-bottom: 2px solid #4f4f50;
    width: 95%;
}
