body{
    background-image: url("library.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: cursive;
}
.form-container{
display: flex;
justify-content: center;
align-self: center;
width:20px auto;
margin-left:48px;
margin-right: 24px;



}
.form-title{
    margin-left: 16px;
    font-size: 48px;
    color: rgb(247, 246, 246);
    
}

.form{
    padding:16px;
    display:flex;
    flex-direction: column;
    align-items:center;
    row-gap: 8px;
    width:35vw;
    background-color:rgba(7, 7, 7, 0.7);
    border-radius:24px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    
    
    
}
.form-control{
    border:1px solid rgb(247, 246, 246);
    background: transparent;
    background-color:rgba(252, 251, 251,1) ;
    border-radius:8px ;
    padding:14px;
    width:100%;
    font-size:20px;
    color:black;
}
::placeholder{
    color:black;
    font-family: cursive;
}
.select-label{
    margin-bottom:4px;
    font-size:20px;
    color:rgb(247, 246, 246);
}
.select{
    background: transparent;
    background-color:rgba(252, 251, 251,0.973) ;
    border:1px solid rgb(247, 246, 246) ;
    border-radius:8px ;
    padding:14px;
    width:100%;
    font-size:20px;
    font-family: cursive;
    color:black;
}
.select >option{
    color:rgba(250, 246, 246, 0.973);
    background: transparent;
    background-color: rgba(7, 7, 7, 0.8);
}

.button{
width:25vw;
padding-inline:px;
height:3em;
border:none;
border-radius:14px;
background: transparent;
background-color: rgba(7, 7, 7, 0.8);
font-size: 20px;
color:rgba(250, 246, 246, 0.973);
}

.button:hover{
    width:25vw;
    padding-inline:px;
    height:3em;
    border:none;
    border-radius:14px;
    background-color: rgba(7, 7, 7, 1);
    font-size: 20px;
    color:rgba(250, 246, 246, 0.973);
    }